.search {
  max-width: 750px;
  margin: 0 auto !important;

  .menu {
    .item {
      cursor: pointer;
      font-weight: normal !important;
      outline: none;
    }
  }

  .infinite-scroll-component {
    padding: 0 15px;
    margin: 0 -15px;
  }

  .ui.segment.search-message {
    margin: 1rem 0;
  }

  .ui.three.cards {
    margin-top: 3px;
    margin-bottom: 3px;

    .header {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .image {
      img {
        max-width: 120px;
      }
    }
  }
}
