# See http://help.github.com/ignore-files/ for more about ignoring files.

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
logs/

# system ignore
.DS_Store
Thumbs.db

# eclipse ignore
.settings/
*/.settings/

.project
.classpath
*/.classpath
.springBeans
rebel.xml
build/
/RemoteSystemsTempFiles/
/.recommenders/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
/.metadata/

# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# idea ignore
.idea/
*.ipr
*.iml
*.iws
*.project
.settings
*.class
/virtual-access/node_modules
/virtual-access/dist
/virtual-access/.env
/virtual-web/node_modules
virtual-master/men
virtual-slave/men

# android studio ignore
/virtual-mobile/*.iml
/virtual-mobile/.gradle
/virtual-mobile/local.properties
/virtual-mobile/.idea/caches
/virtual-mobile/.idea/libraries
/virtual-mobile/.idea/modules.xml
/virtual-mobile/.idea/workspace.xml
/virtual-mobile/.idea/navEditor.xml
/virtual-mobile/.idea/assetWizardSettings.xml
/virtual-mobile/.DS_Store
/virtual-mobile/build
/virtual-mobile/captures
/virtual-mobile/.externalNativeBuild
/virtual-mobile/.gitignore
/virtual-mobile/app/.gitignore



