.main-header {
  background: #f5f5f5;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  -o-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  -moz-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  -ms-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin-bottom: 1rem;

  .main-header-wrap {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;

    .logo {
      margin: 0 2rem 0 0;

      img {
        display: block;
        height: 38px;
      }
    }

    .menu {
      flex-grow: 1;
    }
  }
}
