.menu-top {
  padding-top: 8px;

  .logged.simple {
    padding-bottom: 6px !important;

    .icon.chevron.down {
      height: 9px;
      margin: 0 0 0 3px;
      padding: 0;
    }

    .menu.vertical {
      margin: 0 -12px 0 !important;
      padding: 15px;
      text-align: center;
      min-width: 250px;

      .name {
        color: #1b1c1d;
      }
    }
  }
}
