.upload-file-container {
  .upload-file-handle {
    input[name='file'] {
      display: none;

      &:disabled + label {
        color: #ccc;
        border-color: #ccc;
      }
    }

    label {
      border: 1px dashed #212121;
      border-radius: 0.28571429rem;
      color: #212121;
      display: block;
      cursor: pointer;
      padding: 18px 15px;
      text-align: center;
      transition: border-color 0.5s ease, color 0.5s ease;

      &:hover {
        border-color: #999;
        color: #999;
      }
    }
  }

  .ui.items {
    .item {
      &.error {
        color: #db2828;
      }

      .image.custom {
        width: 30px;
      }

      .title-image {
        display: inline-block;
        line-height: 26px;
        max-width: calc(100% - 100px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .upload-file-fail-alert {
    margin-bottom: 9px;
  }
}
